.container {
  width: 100%;
  min-height: 21.5625rem;
  background: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container > div,
.container > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}
.container h2{
  color: var(--primary);
}
.contact{
  text-align: center;
}.socials{
  display: flex;
  gap: 0.8em;
}