.cards {
  min-height: 18.9375rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  margin-bottom: 3.5em;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}
.loadmore {
  background: none;
  border-radius: 100vw;
  margin-block: auto;
  margin-inline: 1.5rem;
  scale: 1;
  transition: all 0.15s ease;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
}
.loadmore:active {
  filter: brightness(95%);
}
.loadmore:hover {
  scale: 0.95;
}
.loadmore::before {
  color: var(--primarydark);
  text-align: center;
  content: "load more";
  position: absolute;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
}
.loadmore:hover::before {
  right: 120%;
  opacity: 1;
}
.empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2.1875rem;
  color: var(--primary);
  opacity: 0.3;
}
.cards .content {
  width: 100%;
  display: flex;
  gap: 2.25rem;
  overflow-x: auto;
  border-radius: var(--border-radius);
  position: relative;
}
.cards .item {
  min-height: 14.4rem;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--primary),
    var(--primarylight),
    var(--primary)
  );
  background-repeat: repeat;
  background-size: 200% 200%;
  font-size: 1.875rem;
  color: var(--white);
  padding: 2rem 1.8125rem;
  text-align: center;
  animation: taskrunning 5s ease infinite forwards;
}
@keyframes taskrunning {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 14.4rem 14.4rem;
  }
  100% {
    background-position: 30rem 30rem;
  }
}
.cards .id {
  font-weight: 700;
  position: relative;
}
.cards .id::before {
  content: "#";
  font-size: 35px;
  position: absolute;
  top: -5%;
  left: -18%;
  opacity: 0.5;
}
.cards .date {
  font-size: 0.4em;
  position: absolute;
  top: 30%;
  left: 10%;
  opacity: 0.8;
}
.cards .service {
  opacity: 0.8;
  font-size: 0.5em;
}
.cards .queries,
.cards .status {
  display: none;
}

/* Tasks List type style */
.list {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.list .content {
  padding: 1.4375em 1.125em;
  height: 100%;
  max-height: 42vh;
  display: flex;
  flex-direction: column;
  gap: 1.0625em;
  border-radius: var(--border-radius);
  overflow-y: auto;
}
.list .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1.5625rem;
  padding-inline: 1em;
  font-size: 1.25rem;
  color: var(--primarydark);
}
.list .id {
  font-weight: 700;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list .id::before {
  content: "#";
}
.list .date,
.list .service,
.list .queries,
.list .id,
.list .status {
  text-align: center;
}
.list .date,
.list .service,
.list .queries {
  width: 17%;
  color: var(--primary);
  font-size: 0.6em;
}
.list .service {
  font-weight: 700;
}
.list .status {
  font-size: 0.7em;
  line-height: 1.875em;
}
.list .status::before {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.list .status[data-taskstatus="Complete"] {
  color: var(--primary);
}
.list .status[data-taskstatus="Complete"]::before {
  content: url("/Icons/SmallTick.svg");
  margin-right: 0.2em;
}
.list .status[data-taskstatus="Running"] {
  color: var(--accent);
}
.list .status[data-taskstatus="Running"]::before {
  content: url("/Icons/RunningCog.svg");
  margin-right: 0.2em;
}
.item {
  border-radius: var(--border-radius);
  transition: scale 0.15s ease;
}
.item:hover {
  scale: 0.98;
}
