.element {
  width: 80%;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 1.5em;
  background-color: var(--white);
  transition: all 0.15s ease;
  cursor: pointer;
  gap: 1.5em;
}
.main {
  display: flex;
  justify-content: space-around;
}
.element .title {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.element img {
  flex-grow: 1;

}
.element p {
  color: var(--accentdark);
}
.element path {
  stroke: var(--accent);
}
.element h2 {
  color: var(--accent);
}
.element:hover {
  background-color: var(--graylight);
  scale: 0.98;
}
