.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.5em;
  gap: 1.5em;
}
.content h3,
.content h4 {
  color: var(--primarydark);
}
.avatarform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2.5em;
  gap: 2em;
}
.avatarform h3 {
  text-align: center;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.detailform h3 {
  margin-bottom: 1.5em;
}
.form fieldset {
  display: flex;
  gap: 1em;
}
